@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins";
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply text-dark;
}

@layer components {
  /* general */
  .wrapper {
    @apply max-w-[1200px] mx-auto p-5;
  }
  .card {
    @apply border rounded-md shadow-md;
  }
}

@layer utilities {
  .modal {
    animation: drop 0.4s forwards;
  }
}

@keyframes drop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
